<div *ngIf="usuario">
  <div class="row">
    <div class="col-md-4">
      <figure class="shadow">
        <img src="{{usuario.foto ? usuario.foto : fotoDefault}}" />
      </figure>
    </div>
    <div class="col-md-8">
      <h1>{{usuario.nome}} {{usuario.sobrenome}}</h1>
      <p>{{usuario.email}}</p>
    </div>
  </div>
  <h3>Livros que ele tem</h3>
  <div *ngIf="usuario.livros">
    <ul>
      <li *ngFor="let livro of usuario.livros">
        <a href="livro/{{livro.slug}}">
          <figure class="shadow shadow-hoverable" [style.backgroundImage]="'url('+livro.capa+')'"></figure>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="!usuario.livros">
    Esse usuário não tem livros.
  </p>
</div>
<div *ngIf="!usuario">
  <h2>
    Usuário não encontrado!
  </h2>
</div>
