<div *ngIf="usuario">
  <div class="row">
    <div class="col-md-4">
      <figure class="shadow">
        <img src="{{usuario.foto ? usuario.foto : fotoDefault}}" />
      </figure>
    </div>
    <div class="col-md-8">
      <h1>{{usuario.nome}} {{usuario.sobrenome}}</h1>
      <p>{{usuario.email}}</p>
      <br />
      <h3>Entre em contato com ele(a)</h3>
      <p>Escolha um livro e clique em enviar para notificar o usuário(a) no seu interesse no livro selecionado.</p>
      <select>
        <option selected value="0">Selecione</option>
        <option class="form-control" *ngFor="let livro of usuario.livros" value="{{livro.slug}}">
          {{livro.titulo}}
        </option>
      </select>
      <br />
      <br />
      <button type="button" class="btn btn-primary btn-lg shadow shadow-hoverable" (click)="notificar()">Enviar</button>
    </div>
  </div>
  <br />
  <h3>Livros que ele(a) tem</h3>
  <div *ngIf="usuario.livros">
    <ul class="livros">
      <li *ngFor="let livro of usuario.livros">
        <a href="livro/{{livro.slug}}">
          <figure class="shadow shadow-hoverable" [style.backgroundImage]="'url('+livro.capa+')'"></figure>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="!usuario.livros">
    Esse usuário não tem livros.
  </p>
</div>
<div *ngIf="!usuario">
  <h2>
    Usuário não encontrado!
  </h2>
</div>
