.descricao{
  text-align: justify;
  margin-bottom: .8rem;
}
ul {
  margin: 0 auto;
  text-align: left;
  margin-top: 18px;
  padding: 0;
}
li {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  margin-left: 0;
  margin-right: 25px;
}
li > a > .card > figure {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
  margin: 0;
}
figure > img {
  width: 100%;
}
li > a:hover {
  color: inherit;
  text-decoration: none;
}
.card-title {
  margin-bottom: 0;
  color: #212529;
  text-align: center;
}
.card {
  width: 12rem;
}
h1 {
  margin-bottom: 1rem;
}
#autor {
  font-size: larger;
}
