<div *ngIf="livro">
  <div class="row">
    <div class="col-md-4">
      <figure class="shadow">
          <img src="{{livro.capa ? livro.capa : capaDefault}}" />
      </figure>
    </div>
    <div class="col-md-8">
      <h1>{{livro.titulo}}</h1>
      <p id="autor">{{livro.autor}}</p>
      <p>{{livro.ano}}</p>
      <div *ngIf="!descricaoCompleta">
        <p class="descricao">{{livro.descricao | slice:0:400}}...</p>
        <button type="button" class="btn btn-secondary btn-sm shadow shadow-hoverable" (click)="toggleDescricao()">Ver mais</button>
      </div>
      <div *ngIf="descricaoCompleta">
        <p class="descricao">{{livro.descricao}}</p>
        <button type="button" class="btn btn-secondary btn-sm shadow shadow-hoverable" (click)="toggleDescricao()">Ver menos</button>
      </div>
      <br />
      <br />
      <h3>Tem esse livro?</h3>
      <p>Clique no botão para adicionar a sua lista.</p>
      <button type="button" class="btn btn-primary btn-lg shadow shadow-hoverable">Eu tenho</button>
    </div>
  </div>
  <br />
  <h3>Quem tem esse livro</h3>
  <div *ngIf="livro.usuarios.length > 0">
    <ul>
      <li *ngFor="let usuario of livro.usuarios">
        <a href="usuario/{{usuario.slug}}">
          <div class="card shadow shadow-hoverable">
            <figure class="card-img-top" [style.backgroundImage]="'url('+usuario.foto+')'"></figure>
            <div class="card-body">
              <h5 class="card-title">{{usuario.nome}} {{usuario.sobrenome}}</h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="!livro.usuarios.length > 0">
    Nenhum usuário tem esse livro.
  </p>
</div>
<div *ngIf="!livro">
  <h2>
    Livro não encontrado!
  </h2>
</div>
