<div *ngIf="livro">
  <div id="pagina-livro">
    <img src="{{livro.capa ? livro.capa : capaDefault}}" width="200px"/>
  </div>
  <h2>
    {{livro.titulo}}
  </h2>
  <p>{{livro.ano}}</p>
  <p id="descricao">{{livro.descricao}}</p>
  <h3>Usuários que tem esse livro</h3>
  <div *ngIf="livro.usuarios">
    <ul>
      <li *ngFor="let usuario of livro.usuarios">
        <a href="usuario/{{usuario.slug}}">
          <figure [style.backgroundImage]="'url('+usuario.foto+')'"></figure>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="!livro.usuarios">
    Nenhum usuário tem esse livro.
  </p>
</div>
<div *ngIf="!livro">
  <h2>
    Livro não encontrado!
  </h2>
</div>
