<div *ngIf="livro">
  <div class="row">
    <div class="col-md-4">
      <figure class="shadow">
          <img src="{{livro.capa ? livro.capa : capaDefault}}" />
      </figure>
    </div>
    <div class="col-md-8">
      <h1>{{livro.titulo}}</h1>
      <p>{{livro.ano}}</p>
      <p id="descricao">{{livro.descricao}}</p>    
    </div>
  </div>
  <h3>Usuários que tem esse livro</h3>
  <div *ngIf="livro.usuarios">
    <ul>
      <li *ngFor="let usuario of livro.usuarios">
        <a href="usuario/{{usuario.slug}}">
          <div 
            class="card" 
            [ngClass]="classShadow" 
            (mouseover)="changeStyle($event)" 
            (mouseout)="changeStyle($event)">
            <figure class="card-img-top" [style.backgroundImage]="'url('+usuario.foto+')'"></figure>
            <div class="card-body">
              <h5 class="card-title">{{usuario.nome}} {{usuario.sobrenome}}</h5>
            </div>
          </div>
        </a>
      </li>
    </ul>
  </div>
  <p *ngIf="!livro.usuarios">
    Nenhum usuário tem esse livro.
  </p>
</div>
<div *ngIf="!livro">
  <h2>
    Livro não encontrado!
  </h2>
</div>
