/* You can add global styles to this file, and also import other style files */
nav {
	height: 50px;
	width: 100%;
	background-color: green;

}
ul {
    margin: 0 auto;
    text-align: center;
}
li {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}
figure {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 220px;
    width: 150px;
    margin: 0;
}
